bin
gen
out
lib

.idea
*.iml
classes

obj

.DS_Store

# Gradle
.gradle
jniLibs
build
local.properties
reports

# Test credentials - never commit these!
test-config.properties
src/test/resources/test-config.properties
*.properties
!test-config.properties
/tools/webdav/webdav-root/
